plugins {
    id 'nf-ga4gh'
}

params {
    // Get enviroment variables
    bucket      = System.getenv('BUCKET')
    gen3_token  = System.getenv('GEN3_TOKEN')
    
    // Generate PLP name
    random_id   = java.util.UUID.randomUUID().toString().take(6)
    plpRunName  = "plp-${params.random_id}"
}

workDir = "s3://${params.bucket}/ga4gh-tes"
docker.enabled = true

trace {
    overwrite = true
}

process {
    executor = 'tes'
    container = 'quay.io/nextflow/bash'
    errorStrategy = 'retry'
    maxRetries = 1
}

tes {
    endpoint = 'https://brhstaging.data-commons.org/ga4gh/tes'
    oauthToken = "${params.gen3_token}"
    timeout = 30
    pollInterval = '5 sec'
    tags {
        _IMAGE_PULL_POLICY = 'IfNotPresent'
    }
}

aws {
    accessKey = "${params.gen3_token}"
    secretKey = 'N/A' // pragma: allowlist secret
    region = 'us-east-1'
    client {
        endpoint = 'https://brhstaging.data-commons.org/workflows/s3'
        s3PathStyleAccess = true
        maxErrorRetry = 1
    }
}

profiles {
    local {
        workDir = './work'
        docker.enabled = true
        process {
            executor = 'local'
            errorStrategy = 'retry'
            maxRetries = 1

            withName: 'run_plp_model' {
                memory = '3 GB'
            }
        }
        
    }

    tes {
        workDir = "s3://${params.bucket}/ga4gh-tes"
        docker.enabled = true
        process {
            executor = 'tes'
            container = 'quay.io/nextflow/bash'
            errorStrategy = 'retry'
            maxRetries = 1
        }
        tes {
            endpoint = 'https://brhstaging.data-commons.org/ga4gh/tes'
            oauthToken = "${params.gen3_token}"
            timeout = 30
            pollInterval = '5 sec'
            tags {
                _IMAGE_PULL_POLICY = 'IfNotPresent'
            }            
        }
        aws {
            accessKey = "${params.gen3_token}"
            secretKey = 'N/A' // pragma: allowlist secret
            region = 'us-east-1'
            client {
                endpoint = 'https://brhstaging.data-commons.org/workflows/s3'
                s3PathStyleAccess = true
                maxErrorRetry = 1
            }
        }
    }
}